<div class="panel-body scrollBox ">
  {{ for (var prop in it.list) { }}

    {{ if(it.list[prop].action === 4) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户和机器人建立会话<</p>
      </div>
    {{ } }}


    {{ if(it.list[prop].action === 6) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户转人工服务</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 7) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户排队</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 8) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户和客服建立了会话</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 9) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户将客服的会话 , 被转移到客服</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 10) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户会话超时，本次会话已经结束</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 12) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户已被客服取消拉黑</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 16) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户已被客服添加标星</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 17) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户已被客服取消标星</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 18) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户已向客服申请语音通话</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 19) { }}
      <div class="systeamTextBox">
        <p class="systeamText">客服给用户回拨语音通话</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 20) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户访问了页面</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 21) { }}
      <div class="systeamTextBox">
        <p class="systeamText">客服主动邀请会话</p>
      </div>
    {{ } }}

    {{ if(it.list[prop].action === 5) { }}
      <div class="systeamTextBox">
        <p class="systeamText">客服给用户回拨语音通话</p>
      </div>
    {{ } }}

  {{ } }}
</div>
