{{ if(it.data.type === 102) { }}
  <div class="systeamTextBox">
    <p class="systeamText">用户和客服 10041n 建立会话 {{=it.data.t}}</p>
  </div>
{{ } }}

{{ if(it.data.type === 103) { }}
  <div class="msg userCus">
    <div class="msg_user fl">
      <img src="http://img.sobot.com/chatres/common/face/pcType.png" class="msg_user_img">
    </div>
    <div class="msgContBox fl">
      <span class="msg_name">{{=it.data.uname}}</span>
      <span class="msg_time ml">{{=it.data.uname}}</span>
      <span class="msg_time" style="margin-left: 0px;">{{=it.data.ts}}</span>
      <div style="clear:both;"></div>
      <div class="msgBg fl" style="display: inline-flex;margin: 0px;">
        <i class="angleLeft"></i>
        <div class="msg_content formUser">{{=it.data.content}} </div>
      </div>
    </div>
  </div>
{{ } }}

{{ if(it.data.type === 108) { }}
  <div class="systeamTextBox">
    <p class="systeamText">该用户已经是离线状态。{{=it.data.t}}</p>
  </div>
{{ } }}

{{ if(it.data.type === 109) { }}
  <div class="systeamTextBox">
    <p class="systeamText">该用户已经是离线状态。16:18:38</p>
  </div>
{{ } }}


{{ if(it.data.type === 111) { }}
  <div class="msg userCus">
    <div class="msg_user fl">
      <img src="{{=it.data.userHeadImage}}" class="msg_user_img">
    </div>
    <div class="msgContBox fl">
      <span class="msg_name">{{=it.data.uname}}</span>
      <span class="msg_time ml">{{=it.data.uname}}</span>
      <span class="msg_time" style="margin-left: 0px;"></span>
      <div style="clear:both;"></div>
      <div class="msgBg fl" style="display: inline-flex;margin: 0px;">
        <i class="angleLeft"></i>
        <div class="msg_content formUser">{{=it.data.content}} </div>
      </div>
    </div>
  </div>
{{ } }}
