{{ for (var i = 0;i < it.list.length;i++) { }}

  {{ if(it.list[i].type === 102) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户和客服 10041n 建立会话 {{=it.data.t}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 5) { }}

    {{ if (it.list[i].senderType === 0) { }}
      <div class="msg userCus">
        <div class="msg_user fl">
          <img src="http://img.sobot.com/chatres/common/face/pcType.png" class="msg_user_img">
        </div>
        <div class="msgContBox fl">
          <span class="msg_name">{{=it.list[i].senderName}}</span>
          <span class="msg_time ml">{{=it.list[i].senderName}}</span>
          <span class="msg_time" style="margin-left: 0px;">{{=it.list[i].ts.split(' ')[1]}}</span>
          <div style="clear:both;"></div>
          <div class="msgBg fl" style="display: inline-flex;margin: 0px;">
            <i class="angleLeft"></i>
            <div class="msg_content formUser">{{=it.list[i].msg}} </div>
          </div>
        </div>
      </div>
    {{ } else if (it.list[i].senderType === 2){ }}

      <div class="msg workOrderCus">
        <div class="msg_user fr">
          <img src="http://img.sobot.com/console/common/face/admin.png" class="msg_user_img">
        </div>
        <div class="msgContBox fr">
          <span class="msg_name">{{=it.list[i].senderName}}</span>
          <span class="msg_time">{{=it.list[i].senderName}}</span>
          <span class="msg_time">{{=it.list[i].ts.split(' ')[1] }}</span>
          <div style="clear:both;"></div>
          <div class="msgBg" style="display: inline-flex;float: right;margin: 0px;">
            <i class="angleRight"></i>
            <div class="msg_content">{{=it.list[i].msg}} </div>
          </div>
        </div>
      </div>
    {{ } }}

  {{ } }}

  {{ if(it.list[i].type === 108) { }}
    <div class="systeamTextBox">
      <p class="systeamText">该用户已经是离线状态。{{=it.data.t}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].type === 109) { }}
    <div class="systeamTextBox">
      <p class="systeamText">该用户已经是离线状态。16:18:38</p>
    </div>
  {{ } }}


  {{ if(it.list[i].type === 111) { }}
    <div class="msg userCus">
      <div class="msg_user fl">
        <img src="{{=it.data.userHeadImage}}" class="msg_user_img">
      </div>
      <div class="msgContBox fl">
        <span class="msg_name">{{=it.data.uname}}</span>
        <span class="msg_time ml">{{=it.data.uname}}</span>
        <span class="msg_time" style="margin-left: 0px;"></span>
        <div style="clear:both;"></div>
        <div class="msgBg fl" style="display: inline-flex;margin: 0px;">
          <i class="angleLeft"></i>
          <div class="msg_content formUser">{{=it.data.content}} </div>
        </div>
      </div>
    </div>
  {{ } }}

{{ } }}
