{{ for (var i = 0;i < it.list.length;i++) { }}

  {{ if(it.list[i].action === 5) { }}

    {{ if (it.list[i].senderType === 0) { }}
      <div class="msg userCus">
        <div class="msg_user fl">
          <img src="{{=it.userSourceImage}}" class="msg_user_img">
        </div>
        <div class="msgContBox fl">
          <span class="msg_name">{{=it.list[i].senderName}}</span>
          <span class="msg_time ml">{{=it.list[i].senderName}}</span>
          <span class="msg_time" style="margin-left: 0px;">{{=it.list[i].ts.split(' ')[1]}}</span>
          <div style="clear:both;"></div>
          <div class="msgBg fl" style="display: inline-flex;margin: 0px;max-width: 100%">
            <i class="angleLeft"></i>
            <div class="msg_content formUser">{{=it.list[i].msg}} </div>
          </div>
        </div>
      </div>
    {{ } else if (it.list[i].senderType === 2){ }}

      <div class="msg workOrderCus">
        <div class="msg_user fr">
          <img src="{{=it.adminImage}}" class="msg_user_img">
        </div>
        <div class="msgContBox fr">
          <span class="msg_name">{{=it.list[i].senderName}}</span>
          <span class="msg_time">{{=it.list[i].senderName}}</span>
          <span class="msg_time">{{=it.list[i].ts.split(' ')[1] }}</span>
          <div style="clear:both;"></div>
          <div class="msgBg" style="display: inline-flex;float: right;margin: 0px;max-width: 100%;">
            <i class="angleRight"></i>
            <div class="msg_content">{{=it.list[i].msg}} </div>
          </div>
          <div class="zc-c-chat-admin-ready-error"  data-token="{{=it.list[i].token}}" ></div>
        </div>
      </div>
    {{ } }}

  {{ } }}









  {{ if(it.list[i].action === 'dateline') { }}
    <div class="day_divider">
      <p class="systeamText" style="background-color: transparent">
        <span class="zc-c-chat-date-line-left"></span>
        <span class="zc-c-chat-date-line-text">{{=it.list[i].date}}</span>
        <span class="zc-c-chat-date-line-right"></span>
      </p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 'loadmore') { }}
    <div class="systeamTextBox js-zc-loadmore">
      <p class="systeamText">点击加载更多</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 'nomore') { }}
    <div class="systeamTextBox">
      <p class="systeamText">没有更多</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 4) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户和机器人建立会话 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}


  {{ if(it.list[i].action === 6) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户转人工服务 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 7) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户排队 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 8) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户和客服 {{=it.list[i].receiverName}} 建立了会话 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 9) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户将客服的会话 , 被转移到客服</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 10) { }}


    {{ if (it.list[i].offlineType === 1) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户和客服 {{=it.list[i].receiverName}} 的会话已结束 {{=it.list[i].ts.split(' ')[1]}}</p>
      </div>
    {{ } }}

    {{ if (it.list[i].offlineType === 2) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户和客服 {{=it.list[i].receiverName}} 的会话已结束 {{=it.list[i].ts.split(' ')[1]}}</p>
      </div>
    {{ } }}

    {{ if (it.list[i].offlineType === 3) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户被客服 {{=it.list[i].receiverName}} 拉入黑名单,本次会话结束 {{=it.list[i].ts.split(' ')[1]}}</p>
      </div>
    {{ } }}

    {{ if (it.list[i].offlineType === 4) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户和客服 {{=it.list[i].receiverName}} 的会话已结束 {{=it.list[i].ts.split(' ')[1]}}</p>
      </div>
    {{ } }}

    {{ if (it.list[i].offlineType === 5) { }}
      <div class="systeamTextBox">
        <p class="systeamText">用户和客服 {{=it.list[i].receiverName}} 的会话已结束 {{=it.list[i].ts.split(' ')[1]}}</p>
      </div>
    {{ } }}
  {{ } }}

  {{ if(it.list[i].action === 11) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户已被客服 {{=it.list[i].senderName}} 拉入黑名单 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 12) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户已被客服 {{=it.list[i].senderName}} 取消拉黑 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 16) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户已被客服 {{=it.list[i].senderName}} 添加星标 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 17) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户已被客服 {{=it.list[i].senderName}} 取消星标 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 18) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户已向客服申请语音通话 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 19) { }}
    <div class="systeamTextBox">
      <p class="systeamText">客服给用户回拨语音通话 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 20) { }}
    <div class="systeamTextBox">
      <p class="systeamText">用户访问了页面</p>
    </div>
  {{ } }}

  {{ if(it.list[i].action === 21) { }}
    <div class="systeamTextBox">
      <p class="systeamText">客服 {{=it.list[i].senderName}} 主动邀请会话 {{=it.list[i].ts.split(' ')[1]}}</p>
    </div>
  {{ } }}

{{ } }}
