<div class="js-zc-short-shadow zc-short-shadow">
    <div class="content">
        <div class="js-title title">
            <span>快捷回复</span><i>X</i>
        </div>
        <div class="js-quickContent quickContent">
            <div class="js-quickLeft quickLeft">
                <div class="js-leftContent leftContent">
                    <ul></ul>
                </div><a href="#" class="js-addNewGroup" id="addNewGroup">+添加新分组</a>
            </div>
            <div class="js-quickRight quickRight">
                <div class="js-rightContent rightContent">
                    <ul></ul>
                </div><a href="#" class="js-addNewRep" id="addNewRep">+添加新回复</a>
            </div>
        </div>
    </div>
</div>
