 <ul class="js-dropdown-menu">
   {{for(var i=0;i<it.list.length;i++){ }}
    {{var tmp = it.list[i]; }}
      {{for(var key in tmp){ }}
      {{ var _var = key.length>4?key.substr(0,4)+'..':key;}}
        {{if(key.indexOf('blank')>0){ }}
          <li><a href="{{=tmp[key]}}" title="{{=key}}" target="_blank">{{=_var}}</a></li>
        {{
         }else{ }}
         <li><a href="#clientSystem"  data-toggle="tab" title="{{=key}}" addrurl="{{=tmp[key]}}">{{=_var}}</a></li>
          <!-- <li><a href="#clientSystem"  data-toggle="tab" title="{{=key}}" addrurl="{{=tmp[key]}}" onclick="showClientSys(this)">{{=_var}}</a></li> -->
        {{ } }}
      {{ } }}
   {{ } }}
 </ul>
