
{{if(it.item.data['usource']=='0'){}}
  {{ var clsName='pcicon';}}
{{}else{}}
{{ var clsName='mobileicon';}}
{{}}}
<h4>访问信息</h4>
<ul>
    <li>
      <div class="sessionWarp">
        <div class="js-aSession userTypeName aSession" >
            对话页：
        </div>
        <!-- <a class="chata" style="background-color:red;" target="_blank" oType="visitUrl"  class="userInp"></a> -->
        <div class="js-chatWarp chatWarp">
          {{=it.item.userData["visit"]}}
        </div>
        <div class="js-chatWarpi chatWarpi">
          ..
        </div>
        </div>
    </li>
    <li>
        <div class="userTypeName">
            浏览器：
        </div><p  oType="browser" class="" style="display:inline-block;">{{=it.item.userData["browser"]?it.item.userData["browser"]:'-'}}</p>
    </li>
    <li>
        <div class="userTypeName">
            系  统：
        </div><i class="{{=clsName}}"></i><p oType="os" class="" style="display: inline-block;">{{=it.item.userData["os"]?it.item.userData["os"]:'-'}}</p>
    </li>
</ul>
<h4 style="margin-top: 40px;">用户信息</h4>
<ul>
    <li class="clear">
        <div class="userTypeName">
            昵称：
        </div>
        <input type="text" class="js-userTnp userInp otherBorder userNameDyy" value="{{=it.item.userData["uname"]?it.item.userData["uname"]:''}}" oType="uname" placeholder="-">
        <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li class="clear">
        <div class="userTypeName">
            姓名：
        </div>
        <input type="text" class="js-userTnp userInp otherBorder" value="{{=it.item.userData["realname"]?it.item.userData["realname"]:''}}" oType="realname" placeholder="-">
        <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li class="clear">
        <div class="userTypeName">
          生日：
        </div>
          <input class="span3 js-userTnp userInp otherBorder" oType="birthday" readonly="readonly" id="dp" type="text"  placeholder="0000-00-00" value="{{=it.item.userData["birthday"]?it.item.userData["birthday"]:''}}" data-date-format="yyyy-mm-dd">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li class="clear">
        <div class="userTypeName">
            性别：
        </div>
        <select class="userInp otherBorder" oType="sex" id="sex" style="width:150px;">
            <option value="">未知</option>
            <option value="0">男</option>
            <option value="1">女</option>
        </select>
    </li>
    <li>
        <div class="userTypeName">
            电话：
        </div>
        <input type="text" class="js-userTnp userInp otherBorder" oType="tel" value="{{=it.item.userData["tel"]?it.item.userData["tel"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li>
        <div class="userTypeName">
            邮箱：
        </div>
        <input type="text" class="js-userTnp userInp otherBorder" oType="email" value="{{=it.item.userData["email"]?it.item.userData["email"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>

    <li>
        <div class="userTypeName">
            Q Q：
        </div>
        <input type="text" class="js-userTnp userInp otherBorder" oType="qq" value="{{=it.item.userData["qq"]?it.item.userData["qq"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>

    <li>
        <div class="userTypeName">
            微信：
        </div>
        <input type="text" class="js-userTnp userInp otherBorder" oType="weixin" value="{{=it.item.userData["weixin"]?it.item.userData["weixin"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li>
        <div class="userTypeName">
            微博：
        </div>
        <input type="text" class="js-userTnp userInp otherBorder" oType="weibo" value="{{=it.item.userData["weibo"]?it.item.userData["weibo"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li class="clearfix">
        <div class="userTypeName remarkTip">
            备注：
        </div>
        <div class="remarkTxt ">
            <textarea   class="js-userTnp userInp othe remark form-control" maxlength="200" oType="remark" placeholder="上限200字">{{=it.item.userData["remark"]?it.item.userData["remark"]:''}}</textarea>
              <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
        </div>
    </li>
</ul>
