
{{if(it.item.data['usource']=='0'){}}
  {{ var clsName='pcicon';}}
{{}else{}}
{{ var clsName='mobileicon';}}
{{}}}
<h4>访问信息</h4>
<ul>
    <li>
      <div class="sessionWarp">
        <div class="js-aSession userTypeName aSession" >
            对话页：
        </div>
        <!-- <a class="chata" style="background-color:red;" target="_blank" oType="visitUrl"  class="userInp"></a> -->
        <div class="js-chatWarp chatWarp">
          {{=it.item.userData["visit"]}}
        </div>
        <div class="js-chatWarpi chatWarpi">
          ..
        </div>
        </div>
    </li>
    <!-- <li>
        <div class="userTypeName">
            IP地址：
        </div><p  oType="ipaddr" class="" style="display:inline-block;">{{=it.item.userData["ipaddr"]?it.item.userData["ipaddr"]:'-'}}</p>
    </li>
    <li>
        <div class="userTypeName">
            接入渠道：
        </div><p  oType="channeltype" class="" style="display:inline-block;">{{=it.item.userData["channeltype"]?it.item.userData["channeltype"]:'-'}}</p>
    </li>
    <li>
        <div class="userTypeName">
            7日咨询：
        </div><p  oType=" 7dconsult" class="" style="display:inline-block;">{{=it.item.userData["7dconsult"]?it.item.userData["7dconsult"]:'-'}}</p>
    </li>
    <li>
        <div class="userTypeName">
            排队时长：
        </div><p  oType="listtimelength" class="" style="display:inline-block;">{{=it.item.userData["listtimelength"]?it.item.userData["listtimelength"]:'-'}}</p>
    </li> -->
    <li>
        <div class="userTypeName">
            浏览器：
        </div><p  oType="browser" class="" style="display:inline-block;">{{=it.item.userData["browser"]?it.item.userData["browser"]:'-'}}</p>
    </li>
    <li>
        <div class="userTypeName">
            系  统：
        </div><i class="{{=clsName}}"></i><p oType="os" class="" style="display: inline-block;">{{=it.item.userData["os"]?it.item.userData["os"]:'-'}}</p>
    </li>
</ul>
<h4 style="margin-top: 40px;">用户信息</h4>
<ul>
    <li class="clear">
        <div class="userTypeName">
            昵称：
        </div>
        <input text="text" data-uid="{{=it.item.userData.uid}}" class="js-userTnp userInpHover userInp otherBorder userNameDyy" value="{{=it.item.userData["uname"]?it.item.userData["uname"]:''}}" oType="uname" placeholder="-">
        <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li class="clear">
        <div class="userTypeName">
            姓名：
        </div>
        <input text="text" data-uid="{{=it.item.userData.uid}}" class="js-userTnp userInpHover userInp otherBorder" value="{{=it.item.userData["realname"]?it.item.userData["realname"]:''}}" oType="realname" placeholder="-">
        <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li class="clear">
        <div class="userTypeName">
          生日：
        </div>
          <input class="span3 js-userTnp1 userInp otherBorder userInpHover" oType="birthday" readonly="readonly" id="dp" text="text" data-uid="{{=it.item.userData.uid}}"  placeholder="-" value="{{=it.item.userData["birthday"]?it.item.userData["birthday"]:''}}" data-date-format="yyyy-mm-dd">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li class="clear">
        <div class="userTypeName">
            性别：
        </div>
        <select class="js-sex userInp otherBorder" oType="sex" id="sex" data-uid="{{=it.item.userData.uid}}" style="width:79%;">
            <option value="">未知</option>
            <option value="0">男</option>
            <option value="1">女</option>
        </select>
    </li>
    <li>
        <div class="userTypeName">
            电话：
        </div>
        <input text="text" data-uid="{{=it.item.userData.uid}}" class="js-userTnp userInpHover userInp otherBorder" oType="tel" value="{{=it.item.userData["tel"]?it.item.userData["tel"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li>
        <div class="userTypeName">
            邮箱：
        </div>
        <input text="text" data-uid="{{=it.item.userData.uid}}" class="js-userTnp userInpHover userInp otherBorder" oType="email" value="{{=it.item.userData["email"]?it.item.userData["email"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>

    <li>
        <div class="userTypeName">
            Q Q：
        </div>
        <input text="text" data-uid="{{=it.item.userData.uid}}" class="js-userTnp userInpHover userInp otherBorder" oType="qq" value="{{=it.item.userData["qq"]?it.item.userData["qq"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>

    <li>
        <div class="userTypeName">
            微信：
        </div>
        <input text="text" data-uid="{{=it.item.userData.uid}}" class="js-userTnp userInpHover userInp otherBorder" oType="weixin" value="{{=it.item.userData["weixin"]?it.item.userData["weixin"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li>
        <div class="userTypeName">
            微博：
        </div>
        <input text="text" data-uid="{{=it.item.userData.uid}}" class="js-userTnp userInpHover userInp otherBorder" oType="weibo" value="{{=it.item.userData["weibo"]?it.item.userData["weibo"]:''}}" placeholder="-">
            <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
    </li>
    <li>
        <div class="userTypeName">
            对接ID：
        </div>
        <input text="text" readonly data-uid="{{=it.item.userData.partnerId}}" class="js-userTnp userInpHover userInp otherBorder" oType="joinid" style="width:75%;" value="{{=it.item.userData["partnerId"]?it.item.userData["partnerId"]:''}}" placeholder="-">
    </li>
    <li class="clearfix">
        <div class="userTypeName remarkTip">
            备注：
        </div>
        <div class="remarkTxt ">
            <textarea   class="js-userTnp userInp othe remark form-control" data-uid="{{=it.item.userData.uid}}" maxlength="200" oType="remark" placeholder="上限200字">{{=it.item.userData["remark"]}}</textarea>
              <span class="js-tip tip"><span class="js-alerticon alerticon"></span><!--不能超过28个字符--><i class="js-closeicon closeicon"></i></span>
        </div>
    </li>
</ul>
<!--用户自定义字段 显示-->
{{if(it.item.userData['params']){}}

<div>
  <h4 style="margin-top: 40px;display:inline-block">自定义字段</h4>
  <div class="customCnf">
     <ul>
    {{for(var key in it.item.userData['params']){}}
    {{var item = it.item.userData['params'][key];}}
       <li class="clearfix" style="height:auto;">
           <div class="userTypeName">
               {{=key}}
           </div>
           <div class="custom-msg zc-scroll">
             {{console.log(item);}}
             {{if(item.indexOf('http')>=0||item.indexOf('www.')>=0){}}
                {{var num =0;}}
                {{if(item.indexOf('http')>=0){}}
                  {{num = item.indexOf('http');}}
                {{}else{}}
                  {{num = item.indexOf('www.');}}
                {{}}}
                {{var str1 = item.substring(0,num);}}
                {{var str2 = item.substring(num,item.length);}}
                {{var str3 =  str1+' <a href="'+str2+'" target="=_blank">'+str2+'</a>';}}
                {{=str3}}
             {{}else{}}
              {{=item}}
             {{}}}
           </div>
       </li>
     {{}}}
     </ul>
  </div>
</div>
{{}}}
