{{ var item = it;}}
<li titemle="{{=item.uname}}" class="user-list-item" data-uid="{{=item.uid}}">
    <i class="icon {{=item.source_type || ''}} js-icon"><span class="badge badge-red js-unread-count">1</span></i>
    <div class="item-detail">
        <div class="uname" style="width: 230px;">
            {{=item.uname}}<span class="status js-status">[离线]</span></span>
        </div><span class="chat-detail js-last-message"></span><i class="user-del js-remove"  data-uid="{{=item.uid}}"><span class="newIcon"></span></i>
    </div>
</li>
