{{ for(var i=0;i<it.list.length;i++) { }}
{{ var item = it.list[i]; }}
<li titemle="{{=item.uname}}" >
    <a href="javascript:;" class="user"  name="{{=item.uname}}" usource="0" data-uid="c8502966db3f40538794a4e9ab9a8c49"><i class="fa fa-laptop"><span class="newIcon"></span></i><span class="uname" style="width: 230px;">{{=item.uname}}</span><span class="lastMsg"><span style="color:#ffad01">sfsad</span></span><span class="badge badge-red msg-count"></span><i class="user-del"  style="display: none;"><span class="newIcon"></span></i><span class="ohide">{{=item.uname}}</span></a>
</li>

{{ } }}