<table class="table table-bottomless ls-animated-table">
    <thead class="reqTableTh waitClass">
        <tr>
            <th class="th2">客户名称</th><th class="thGroup th21">最后访问页面</th><th class="reqTdTitle th3" style="width:20%;">最后访问时间</th><th class="otherTime th4">停留时间</th><th class="th5">操作</th>
        </tr>
    </thead>
    <tbody class="reqDomBox">
        {{for(var i=0;i<it.list.length;i++) { }}
        {{var item = it.list[i];}}
        <tr>
        <td class="reqTd2 td2"><span class="reqTdSpan">{{=item.name}}</span><span class="reqTitleSpan">{{=it.name}}</span></td><td class="reqTdGroup td3">{{=item.groupName || '无技能组'}}</td><td class="reqTd3 td4">{{=item.lastTime}}</td><td class="td5">{{=item.remainTime}}</td><td><a data-uid="{{=item.id}}" class="reqBtns  js-invite-btn" href="javascript:;">邀请</a></td>
        </tr>
        {{ } }}
    </tbody>
</table>