body{
  overflow: hidden;
  outline: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#btn {
    z-index: 100;
}
.shadowLayer.content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ddd;
    text-align: left;
}
.shadowLayer.content .quickContent {
    width: 742px;
    height: 428px;
    background-color: #fff;
    position: relative;
    border: 1px solid #e6eded;
}
.shadowLayer.content .quickContent ul {
    position: relative;
    overflow: hidden;
}
.shadowLayer.content .quickContent .quickLeft {
    float: left;
    width: 35%;
    /*width: 242px;*/
    height: 100%;
    border-right: 1px solid #e6eded;

}
.shadowLayer.content .quickContent .quickRight {
    float: left;
    width: 64.8%;
    height: 100%;

}
.shadowLayer.content .quickContent .leftContent,.shadowLayer.content .quickContent .rightContent {

    width: 100%;
    height: 385px;
    /*overflow-y: scroll;*/
    /*overflow: hidden;
    outline: none;*/
}
.shadowLayer.content .quickContent a {
    bottom: 0;
    display: inline-block;
    height: 40px;
    text-align: center;
    color: #38bfbc;
    text-decoration: none;
    font-family: 'Armata', sans-serif;
    line-height: 40px;
    border-top: 1px solid #e6eded;
    font-size: 15px;
}
.shadowLayer.content .quickContent  a {
    width: 100%;
}
.shadowLayer.content .quickContent  ul li {
    width: 100%;
}
.shadowLayer.content .quickContent  ul li:hover {
    background-color: #eee;
    border-left: 3px solid #08ced1;
}
.shadowLayer.content .quickContent  ul li.activeLine {
    background-color: #eee;
    border-left: 3px solid #08ced1;
}
.shadowLayer.content .quickContent  .detalBar input:hover {
    background-color: #eee;
}
.shadowLayer.content .quickContent  .detalBar input.activeLine {
    background-color: #eee;
}
.shadowLayer.content .quickContent  .leftContent .detalBar input {
    width: 60%;
    background-color: transparent;
}
.shadowLayer.content .quickContent  .rightContent .detalBar input {
    width: 75%;
    background-color: transparent;
}
.shadowLayer.content .quickContent  .detalBar input {
    display: inline-block;
    padding-left: 10px;
    height: 35px;
    font-size: 14px;
    border: 0;
    outline: none;
}
.shadowLayer.content .quickContent  .detalBar span {
    display: none;
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #38bfbe;
    cursor: pointer;
    line-height: 35px;
}
.shadowLayer.content .quickContent  .detalBar:hover span {
    display: block;
}
.shadowLayer.content .quickContent  .rightContent li.detalBar.hide {
    display: none;
}

.shadowLayer.content .quickContent  .detalBar span.hide {
    display: none;
}
.shadowLayer-wrap{
  width:100%;
  height: 500px;
  padding: 30px;
  background-color: #fff;
}
/****homeuser css***/
.tab-pane#profileuser.showBg {
    background: url(../assets/images/noProfileUserInfo.png) center  no-repeat
}
.panel-body.showBg{
  background: url(../assets/images/noProfileUserInfo.png) center no-repeat
}
.rightBox .panel-body .tab-pane#homeuser p.searchBot {
    margin: 0 0 10px;
}

/****clientSystem*****/
.panel-body  .dropdown  ul.dropdown-menus {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 100%;
    margin: 0 auto;
    margin-top: -200px;
    opacity: 1;
}
.panel-body .dropdown ul.dropdown-menus li {
    border-bottom: 1px dashed #ddd;
    background-color: #f7fafa;
}
.panel-body .dropdown ul.dropdown-menus li a {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}
.panel-body .dropdown ul.dropdown-menus li:hover, .panel-body .dropdown ul.dropdown-menus li:hover a {
    background-color: #09aeb0;
    color: #fff;
}
.panel-body .dropdown ul.dropdown-menus li:last-child {
    border-bottom: 0;
}
.panel-body .dropdown ul.dropdown-menus li a, .panel-body .dropdown ul.dropdown-menus li a:link, .panel-body .dropdown ul.dropdown-menus li a:visited, .panel-body .dropdown ul.dropdown-menus li a:active {
    text-decoration: none;
}

.chatWarp {
    display: block;
    float: left;
    /*background-color:red;*/
    /*color: #0d81c0;*/
    text-decoration: none;
    width: 73%;
    overflow: hidden;
    margin-top: -3px;
}
.aChat {
    font-size: 14px;
    /*visibility: hidden;*/
    white-space: nowrap;
    text-decoration: none;
    color: #333;
}
.aChat:hover, .aChat:visited, .aChat:link, .aChat:active {
    text-decoration: none;
    color: #333;
}
.aSession {
    float: left;
}
.chatWarp i.hide {
    display: none;
}
.chatWarpi {
    float: left;
    display: none;
}
.chatWarpi.show {
    display: block;
    margin-top: -3px;
}
.sessionWarp {
    padding-bottom: 20px;
}

/*****messagesuser*****/
.rightBox .tab-pane .rightQuickLeft, .rightBox .tab-pane .rightQuickRight {
    /*overflow: scroll;*/
    /*overflow-y: scroll;*/
    /*overflow: hidden;
    outline: none;*/
}

/******profileuser 自定义字段值***********/
.rightBox .custom-msg{
  width:100%;
  /*overflow-y: scroll;*/
  word-break: break-all;
  margin-bottom: 10px;
}
.rightBox .customCnf{
  /*margin-top: 20px;*/
}

/****** 滚动条样式***********/
.zc-scroll {
  overflow-y: auto;
  }
  /*.zc-scroll div {
  width:400px;
  height:400px;
  }*/
  /*整个滚动条*/
  .zc-scroll::-webkit-scrollbar {
  width:3px;
  height:3px;
  }
  /*滚动条两端的按钮*/
  .zc-scroll::-webkit-scrollbar-button    {
  /*background-color:#FF7677;*/
  display: none;
  }
  /*滚动条外层轨道*/
  .zc-scroll::-webkit-scrollbar-track     {
  /*background:#FF66D5;*/
  display: none;
  }
  /*滚动条内层轨道*/
  .zc-scroll::-webkit-scrollbar-track-piece {
  /*background:#eee;*/
  display: none;
  }
  /*滚动条可拖动的bar*/
  .zc-scroll::-webkit-scrollbar-thumb{
  background:rgb(55,55,55);
  border-radius:1px;
  }
  /*滚动条边角*/
  .zc-scroll::-webkit-scrollbar-corner {
  /*background:#82AFFF;*/
  display: none;
  }
  /*滚动条定义右下角拖动块的样式*/
  .zc-scroll::-webkit-scrollbar-resizer  {
  /*background:#FF0BEE;*/
  display: none;
  }
