.zc-c-chat-user-ready-chat {
  margin: 0;
  position: absolute;
  top: -30px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  opacity: 0.7;
  padding-left: 12px;
  color: #fff;
  background: rgba(123, 100, 100, 0.5);
  z-index: 999;
  overflow: hidden;
  white-space: nowrap
}

.zc-c-chat-noread-line-left {
  background: url('../img/noReadLine.png');
  width: 177px;
  height: 4px;
  float: left;
  margin-top: 13px;
  background-position: 0px -31px;
}

.zc-c-chat-noread-line-text {
  line-height: 30px;
  color: #f1a466;
  float: left;
  margin-left: 10px;
}

.zc-c-chat-noread-line-right {
  background: url('../img/noReadLine.png');
  width: 177px;
  height: 4px;
  float: left;
  margin-top: 13px;
  background-position: 0px -42px;
}

.zc-c-chat-date-line-left {
  background: url('../img/noReadLine.png');
  width: 177px;
  height: 4px;
  float: left;
  margin-top: 13px;
  background-position: 0px -9px;
}

.zc-c-chat-date-line-text {
  line-height: 30px;
  color: #999999;
  float: left;
  margin-left: 10px;
}

.zc-c-chat-date-line-right {
  background: url('../img/noReadLine.png');
  width: 177px;
  height: 4px;
  float: left;
  margin-top: 13px;
  background-position: 0px -20px;
}

.uesrDivNow {
    margin: 0;
    position: absolute;
    bottom: 4px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    opacity: 0.9;
    padding-left: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: hidden;
    white-space: nowrap;
    display: none;
}

.uesrDivNow .callText {
    line-height: 40px;
}

.uesrDivNow p {
    position: relative;
    font-size: 12px;
}

.uesrDivNow p .callBtn {
    text-decoration: none;
    color: #fff;
    background-color: #4C9689;
    padding: 0px 10px;
    line-height: 30px;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    height: 30px;
    top: 5px;
}

.uesrDivNow p .callBtn:hover {
    text-decoration: none;
}

.uesrDivNow .callText .callTextName {
    color: #fff;
}

.zc-c-call-tag {
    position: absolute;
    width: 300px;
    height: 88px;
    background-color: #f2f7f7;
    border: 1px solid #dfe9ea;
    bottom: 0px;
    right: 16px;
    display: none;
}

.zc-c-call-tag-user-info {
    float: left;
    margin-left: 20px;
    margin-top: 25px;
}

.zc-c-call-tag-user-info-userName {
    font-weight: 900;
    font-size: 14px;
    color: #09aeb0;
}

.zc-c-call-tag-user-info-userPhone {
    font-size: 12px;
    color: #09aeb0;
}

.zc-c-call-tag-exit {
    float: right;
}

.zc-c-call-tag-exit-btn {
  width: 48px;
  border-radius: 4px;
  margin: 28px 20px;
}
