/*body*/
body,html{
	height:100%;
	width:100%;
}
.mr {
  margin-left: 10px;
  margin-right: 0px;
}

.ml {
  margin-right: 10px;
  margin-left: 0px;
}
#top-bar {
  width: 100%;
  height: 50px;
  background-color: #09aeb0;
}
#top-bar .top-bar-logo {
  height: 50px;
  padding: 7px;
  position: relative;
}
#top-bar .top-bar-logo img {
  width: 36px;
  height: 36px;
}
#top-bar .top-bar-logo span {
  position: absolute;
  left: 47px;
  top: 13px;
  font-weight: normal;
  color: #fff;
  font-size: 18px;
}
#main-container #left-navigation {
  background: #fff;
  width: 291px;
  position: absolute;
  left: 0;
  border-right: 1px solid #dee8e9;
  overflow: hidden !important;
}
#main-container #left-navigation .header-box-yy {
  width: 290px;
  height: 80px;
  background: #f2f7f7;
  position: relative;
  border-bottom: 1px solid #e5eeec;
}
#main-container #left-navigation .header-box-yy #user_menu {
  font-size: 16px;
  font-weight: 900;
  color: white;
  width: 180px;
  height: 80px;
  float: left;
  cursor: pointer;
  background: #f2f7f7;
  border-top: 2px solid #f2f7f7;
  padding: 20px 0 20px 20px;
}
#main-container #left-navigation .header-box-yy #user_menu .menuDropdown {
  height: 40px;
  margin: 0;
  position: relative;
}
#main-container #left-navigation .header-box-yy #user_menu .menuDropdown #current_user_avatar {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
  float: left;
}
#main-container #left-navigation .header-box-yy #user_menu .menuDropdown #current_user_avatar .member_image {
  width: 40px;
  height: 40px;
}
#main-container #left-navigation .header-box-yy #user_menu .menuDropdown #current_user_name {
  color: #000;
  /*font-size: 16px;*/
  font-size: 13px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  position: absolute;
  left: 53px;
  top: 3px;
  line-height: 16px;
}
#main-container #left-navigation .header-box-yy #user_menu .menuDropdown #connection_style {
  position: absolute;
  left: 53px;
  bottom: 2px;
  font-size: 12px;
  color: #999;
}
#main-container #left-navigation .header-box-yy #user_menu .menuDropdown #connection_icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 30px;
  left: 30px;
}
#main-container #left-navigation .header-box-yy #user_menu .status-user {
  min-width: 66px;
  width: 66px;
  left: 52px;
  top: 68px;
  height: 92px;
  border: 1px solid #09aeb0;
  padding: 0;
}
#main-container #left-navigation .header-box-yy #user_menu .status-user li {
  padding: 0;
  height: 30px;
  line-height: 30px;
  color: #555555;
  font-size: 12px;
}
#main-container #left-navigation .header-box-yy #user_menu .status-user li .user-icon-offine {
  background-image: url("../img/offline.png");
  background-repeat: no-repeat;
  padding: 1px 0px 1px 16px;
  font-size: 12px;
}
#main-container #left-navigation .header-box-yy #user_menu .status-user li .user-icon-busy {
  background-image: url("../img/busy.png");
  background-repeat: no-repeat;
  padding: 1px 0px 1px 16px;
  font-size: 12px;
}
#main-container #left-navigation .header-box-yy #user_menu .status-user li .user-icon-online {
  background-image: url("../img/online.png");
  background-repeat: no-repeat;
  padding: 1px 0px 1px 16px;
  font-size: 12px;
}
#main-container #left-navigation .header-box-yy #user_menu .status-user li:hover {
  background-color: #dbf3f3;
  color: #555555;
  font-size: 12px;
}
#main-container #left-navigation .header-box-yy #user_menu a {
  float: right;
}
#main-container #left-navigation .header-box-yy .joinBox-yy {
  position: absolute;
  left: 182px;
  top: 27px;
  float: right;
}
#main-container #left-navigation .header-box-yy .joinBox-yy #openOtherUser {
  font-size: 22px;
  color: #a4b2b3;
  text-decoration: none;
  float: left;
}
#main-container #left-navigation .header-box-yy .joinBox-yy #openOtherUser i {
  background: url("../assets/images/newChat2.png");
  width: 25px;
  height: 20px;
  background-position: -40px -110px;
  display: inline-block;
}
#main-container #left-navigation .header-box-yy .joinBox-yy #openOtherUser .i-hover {
  background: url("../assets/images/newChat2.png");
  width: 25px;
  height: 20px;
  background-position: -72px -110px;
  display: inline-block;
}
#main-container #left-navigation .header-box-yy .joinBox-yy #openOtherUser span:hover{
  color:#09c0c1;
}
#main-container #left-navigation .header-box-yy .joinBox-yy #openOtherUser span {
  font-size: 12px;
  color:#09aeb0;
}
#main-container #left-navigation .header-box-yy .joinBox-yy #waitNum {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  color: #09aeb0;
  float: left;
  margin: 5px;
}
#main-container #left-navigation .mainNav {
  background: #fff;
}
#main-container #left-navigation .mainNav li {
  border-top: 0;
  background-color: #f2f7f7;
}
#main-container #left-navigation .mainNav li #main_tab li {
  clear: none;
}
#main-container #left-navigation .mainNav li #main_tab li a {
  font-size: 12px;
  width: 145px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #f2f7f7;
  padding: 0;
  color: #565657;
  border: 0;
}
#main-container #left-navigation .mainNav li #main_tab li.active a {
  color: #09aeaf;
  background-color: #f2f7f7;
  border-bottom: solid 3px #09aeb0;
}
#main-container #left-navigation   .tab-content {
  background-color: #f2f7f7;
}
#main-container #left-navigation   .tab-content .tab-pane {
  padding: 0;
}
#main-container #left-navigation   .tab-content #chatonline #users {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li {
  width: 290px;
  height: 80px;
}
#main-container #left-navigation .mainNav .tab-content #chatonline #users li .user {
  height: 80px;
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #ebeff0;
  color: #000;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-laptop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #60adf6;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-laptop .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -104px -242px;
  margin-top: 6px;
}
#main-container #left-navigation .mainNav .tab-content #chatonline #users li .user .fa-laptop:before {
  content: '';
}
#main-container #left-navigation .mainNav .tab-content #chatonline #users li .user .fa-weibo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e87962;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
  font-size: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-mobile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f1c644;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-mobile .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -44px -242px;
  margin-top: 8px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-mobile:before {
  content: '';
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-code {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5adbf8;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-code .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -164px -242px;
  margin-top: 8px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-code:before {
  content: '';
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-weixin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #57b74e;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-weixin .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -224px -242px;
  margin-top: 8px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .fa-weixin:before {
  content: '';
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .uname {
  display: block;
  height: 15px;
  line-height: 15px;
  position: absolute;
  left: 70px;
  top: 25px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .lastMsg {
  display: block;
  height: 15px;
  line-height: 15px;
  position: absolute;
  left: 70px;
  top: 45px;
  color: #ccc;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .badge {
  position: absolute;
  color: #fff;
  left: 46px;
  right: auto;
  top: 18px;

  height: 17px;
  line-height: 1.3em;
  border-radius: 60px;
  background-color: #ee5c5a;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .user-del {
  display: block;
  position: absolute;
  right: 10px;
  top: 30px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c6c9c9;
  font-size: 20px;
  font-weight: 100;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .user-del .newIcon {
  display: inline-block;
  background: url("../assets/images/newChat1.png");
  width: 20px;
  height: 20px;
  background-position: -96px -172px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user .user-del .newIcon:hover {
  display: inline-block;
  background: url("../assets/images/newChat1.png");
  width: 20px;
  height: 20px;
  background-position: -132px -172px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li .user:hover .ohide {
  display: none;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #users li a:hover {
  background-color: #eef6f4;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-container #left-navigation .mainNav  .tab-content #chatonline #users li a.active {

  background-color: #d8ebea;
  border-left: solid 3px #09aeb0;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li {
  width: 290px;
  height: 80px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user {
  height: 80px;
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #e5eeec;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-laptop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-laptop .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -104px -242px;
  margin-top: 6px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-laptop:before {
  content: '';
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-weibo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
  font-size: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-mobile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-mobile .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -44px -242px;
  margin-top: 8px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-mobile:before {
  content: '';
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-code {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-code .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -164px -242px;
  margin-top: 8px;
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-code:before {
  content: '';
}
#main-container #left-navigation .mainNav  .tab-content #chatonline #offlineUser li .user .fa-weixin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user .fa-weixin .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -224px -242px;
  margin-top: 8px;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user .fa-weixin:before {
  content: '';
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user .uname {
  display: block;
  height: 15px;
  line-height: 15px;
  position: absolute;
  left: 70px;
  top: 25px;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user .lastMsg {
  display: block;
  height: 15px;
  line-height: 15px;
  position: absolute;
  left: 70px;
  top: 45px;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user .badge {
  position: absolute;
  color: #fff;
  left: 46px;
  right: auto;
  top: 18px;
  height: 13px;
  line-height: 13px;
  border-radius: 5px;
  background-color: #ee5c5a;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user .user-del {
  display: block;
  position: absolute;
  right: 10px;
  top: 30px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c6c9c9;
  font-size: 20px;
  font-weight: 100;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user .user-del .newIcon {
  display: inline-block;
  background: url("../assets/images/newChat1.png");
  width: 20px;
  height: 20px;
  background-position: -96px -172px;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user .user-del .newIcon:hover {
  display: inline-block;
  background: url("../assets/images/newChat1.png");
  width: 20px;
  height: 20px;
  background-position: -132px -172px;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li .user:hover .ohide {
  display: none;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li a:hover {
  background-color: #eef6f4;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main-container #left-navigation   .tab-content #chatonline #offlineUser li a.active {
  background-color: #eef6f4;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main-container #left-navigation   .tab-content #history .radio-box-yy {
  padding: 15px 16px;
  height: 48px;
  line-height: 18px;
  width: 290px;
  text-align: center;
  border-bottom: 1px solid #e5eeec;
}
#main-container #left-navigation   .tab-content #history .radio-box-yy label {
  /*padding-left: 18px;*/
  padding-right: 0;
  /*margin-left: 8px;*/
  font-size: 14px;
}
#main-container #left-navigation   .tab-content #history .radio-box-yy label input {
  margin-top: 2px;
}
#main-container #left-navigation   .tab-content #history .leftScroll {
  overflow-y: hidden;
  padding: 0;
  outline: none;
  height: 549px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li {
  width: 290px;
  height: 80px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user {
  height: 80px;
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #e5eeec;
  color: #ccc;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-laptop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bac2c1;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-laptop .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -104px -242px;
  margin-top: 6px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-laptop:before {
  content: '';
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-weibo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
  font-size: 20px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-mobile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-mobile .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -44px -242px;
  margin-top: 8px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-mobile:before {
  content: '';
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-code {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-code .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -164px -242px;
  margin-top: 8px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-code:before {
  content: '';
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-weixin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8dbda;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-weixin .newIcon {
  background: url("../assets/images/newChat1.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-position: -224px -242px;
  margin-top: 8px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .fa-weixin:before {
  content: '';
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .uname {
  display: block;
  height: 15px;
  line-height: 15px;
  position: absolute;
  color: #000;
  left: 70px;
  top: 25px;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .oldLastMsg {
  display: block;
  height: 15px;
  line-height: 15px;
  position: absolute;
  left: 70px;
  top: 45px;
  color: #ccc;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .badge {
  position: absolute;
  color: #d9dcdb;
  right: 0;
  top: 18px;
  height: 13px;
  line-height: 13px;
  border-radius: 5px;
  background-color: transparent;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user .user-del {
  display: block;
  position: absolute;
  right: 10px;
  top: 30px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c6c9c9;
  font-size: 20px;
  font-weight: 100;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user:hover .ohide {
  display: none;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li .user:hover .badge {
  color: #000;
}
#main-container #left-navigation   .tab-content #history .leftScroll ul li a:hover {
  background-color: #eef6f4;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main-container #left-navigation  .tab-content #history .leftScroll ul li a.active {
  background-color: #eef6f4;
  color: #000;
  border-left: solid 3px #09aeb0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main-container #min-wrapper {
  min-height: 100%;
  padding-top: 0px;
  background: #fff;
  padding-left: 291px;
}
#main-container #min-wrapper #main-content {
  min-height: 100%;
  padding-top: 0px;
  background: #f7fafa;
  height: 100%;
  min-width: 860px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .clearfix {
  height: 52px;
  border-bottom: 1px solid #e6eeec;
  background-color: #fff;
}
/*
客户系统样式
*/
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li a i.fa.fa-navicon1 {
  background: url("../assets/images/newChat2.png");
  background-position: -209px -665px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.active a i.fa.fa-navicon1 {
	background: url("../assets/images/newChat2.png");
  background-position: -209px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li a:hover i.fa.fa-navicon1 {
  background: url("../assets/images/newChat2.png");
  background-position: -209px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li a:hover span {
  color:#09aeb0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .clearfix .addButton {
  height: 52px;
  line-height: 52px;
  float: right;
  margin-right: 30px;
  padding-left: 30px;
  border-left: 1px solid #e6eeec;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .clearfix .addButton .goOut {
  margin: 0 28px 0 0;
  font-size: 16px;
  text-decoration: none;
  font-weight: normal;
  color: #a4b2b3;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .clearfix .addButton .goOut .fa {
  color: #a4b2b3;
  font-size: 20px;
  margin-right: 3px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .clearfix .addButton .goOut .fa-star {
  color: #eead56;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .clearfix .addButton .deldestar {
  color: #eead56;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .clearfix .chat_user_title {
  display: none;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent {
  width: 100%;
  height: 380px;
  /*overflow: hidden;*/
	overflow: auto;
  outline: none;
  background-color: #f7fafa;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox {
  padding: 30px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .systeamText {
  color: #0d81c0;
  font-size: 12px;
  text-align: center;
  background: #e6eef0;
  display: inline-block;
  margin: 0 auto;
  padding: 2px 15px;
  border-radius: 2px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .fr {
  float: right;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msg_user {
  width: 42px;
  height: 42px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msg_user .msg_user_img {
  width: 100%;
  height: 100%;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgContBox {
  margin-right: 20px;
  max-width: 68%;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgReplyState {
  width: 18px;
  height: 18px;
  background-size: cover;
  margin-right: 10px;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgReplyError {
  width: 18px;
  height: 18px;
  background-size: cover;
  margin: 26px 10px 0px 0px;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgReplyErrorDefault {
  background: url("../assets/images/newChat1.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: -38px -895px;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgReplyErrorActive {
  background: url("../assets/images/newChat1.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: -76px -895px;
}


#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgContBox .msg_time {
  float: right;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgContBox .msg_name {
  display: none;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgContBox .msgBg {
  background-color: #97e6dc;
  line-height: 16px;
  padding: 14px;
  border-radius: 4px;
  margin-top: 15px;
  position: relative;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgContBox .msgBg .angleRight {
  width: 0;
  border-style: solid;
  border-color: transparent #97e6dc;
  top: 12px;
  content: "";
  position: absolute;
  border-width: 0px 0px 12px 12px;
  right: -10px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgContBox .msgBg .msg_content {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .workOrderCus .msgContBox .msgBg .msg_content p {
  margin: 0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .fl {
  float: left;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msg_user {
  width: 42px;
  height: 42px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msg_user .msg_user_img {
  width: 100%;
  height: 100%;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msgContBox {
  margin-left: 5px;
  max-width: 68%;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msgContBox .msg_time {
  float: left;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msgContBox .msg_name {
  display: none;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msgContBox .msgBg {
  background-color: #fff;
  line-height: 16px;
  padding: 14px;
  border-radius: 4px;
  margin-top: 15px;
  position: relative;
  border: 1px solid #dce5e5;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msgContBox .msgBg .angleLeft {
  width: 11px;
  height: 10px;
  background: url("../img/leftangle.png");
  top: 12px;
  position: absolute;
  left: -10px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msgContBox .msgBg .angleRight {
  width: 0;
  border-style: solid;
  border-color: transparent #97e6dc;
  top: 12px;
  content: "";
  position: absolute;
  border-width: 0 0 12px 12px;
  right: -10px;
}


#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .userCus .msgContBox .msgBg .msg_content {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .day_divider {
  background: #f5f9fa;
  margin: 1.5rem 0;
  line-height: 1.2rem;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #555459;
  font-weight: 900;
  text-align: center;
  cursor: default;
  clear: both;
  position: relative;
  margin-top: 10px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .scrollBoxParent .scrollBox .day_divider_label {
  background: #f5f9fa;
  padding: 0 1rem;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index:100;
  min-height: 190px;
  background-color: #f7fafa;
  border-top: 1px solid #e6eeec;
  outline: none;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .picButton {
  position: absolute;
  left: 55px;
  top: 20px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .picButton i.photoTag{
  background: url("../assets/images/newChat2.png");
  width: 25px;
  height: 20px;
  background-position: -221px -371px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .picButton #maskPhoto{
  width:30px;
  height:25px;
  z-index: 1000;
  display: block;
  position: absolute;
  top:-2px;
  left:-2px;
  display: none;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .faceButton {
  position: absolute;
  left: 20px;
  top: 20px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .faceButton i.faceIcon{
  background: url("../assets/images/newChat2.png");
  width: 30px;
  height: 20px;
  background-position: -182px -371px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .faceButton #maskFace{
  width:35px;
  height:30px;
  z-index: 1000;
  display: block;
  position: absolute;
  top:-1px;
  left:-3px;
  display: none;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .linkButton {
  position: absolute;
  left: 60px;
  top: 20px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .msg-send-input {
  background-color: #f7fafa;
  margin-top: 55px;
  height: 120px;
  min-height: 130px;
  resize: none;
  border: 0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .chat .botTextBox .sendBtn {
  position: absolute;
  right: 11px;
  bottom: 11px;
  width: 80px;
  height: 38px;
  background-color: #09aeb0;
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right {
  padding: 0;
  float: right;
  height:100%;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-header-other {
  height: 52px;
  background-color: #eef6f4;
  padding: 10px 27px;
  overflow: hidden;
  border-left: 1px solid #e6eeec;
  cursor: pointer;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-header-other .otherItem {
  position: relative;
  width: 40px;
  height: 32px;
  float: left;
  margin-right: 50px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-header-other .otherItem .fa-align-left {
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 20px;
  color: #a2b3b3;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-header-other .otherItem span {
  position: absolute;
  left: 10px;
  top: 20px;
  color: #a2b3b3;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs {
  /*border-left: 1px solid #e6eeec;*/
  background-color: #f7fafa;
  border-bottom: 0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.js-menu {
  height: 52px;
  width: 25%;
  cursor: pointer;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li .ifList li {
  width: 100%;
  height: 25px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li .ifList li a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 0;
  line-height: 25px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li a.js-menua {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 8px;
  border: 0;
  background-color: #f7fafa;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li a i {
  font-size: 16px;
  display: block;
  color: #a5b2b3;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li a span {
  display: block;
  color: #a4b2b3;
  font-weight: normal;
  font-size: 13px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.js-menu.active a.js-menua {
  border-bottom: solid 3px #09aeb0;
  /*background-color: #fff;*/
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.active a i.fa-user1{
  background: url("../assets/images/newChat2.png");
  background-position: -20px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.active i {
  /*color: #09aeb0;*/


}
/*辅助图标修改*/
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li i.fa-user1:hover{

  background: url("../assets/images/newChat2.png");
  background-position: -20px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;

}

#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li i.fa-user1{

  background: url("../assets/images/newChat2.png");
  background-position: -20px -665px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a i.fa-user1{
  background: url("../assets/images/newChat2.png");
  background-position: -20px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a#goProfileuser span{
  color:#09aeb0;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li i.glyphicon-comment1{

  background: url("../assets/images/newChat2.png");
  background-position: -65px -665px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.active a i.glyphicon-comment1{
  background: url("../assets/images/newChat2.png");
  background-position: -65px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a i.glyphicon-comment1{
  background: url("../assets/images/newChat2.png");
  background-position: -65px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a#goMessage span{
  color:#09aeb0;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li i.fa-comments-o1{

  background: url("../assets/images/newChat2.png");
  background-position: -110px -665px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.active a i.fa-comments-o1{
  background: url("../assets/images/newChat2.png");
  background-position: -110px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a i.fa-comments-o1{
  background: url("../assets/images/newChat2.png");
  background-position: -110px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a#gotoQuick span{
  color:#09aeb0;
}



#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li i.fa-file-text1{

  background: url("../assets/images/newChat2.png");
  background-position: -157px -665px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.active a i.fa-file-text1{
  background: url("../assets/images/newChat2.png");
  background-position: -157px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a i.fa-file-text1{
  background: url("../assets/images/newChat2.png");
  background-position: -157px -713px;
  width: 40px;
  height: 20px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a#ordersearch span{
  color:#09aeb0;
}


#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li.active span {
  color: #09aeb0;
  margin-top: -4px;
}
/*#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .nav-tabs li:hover a {
  border: 0;
  background-color: #e4eded;
}*/
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane {
  padding: 26px 20px;
	font-size: 14px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane h4 {
  font-size: 14px;
  font-weight: 500;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul {
  padding: 0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane  ul li.rightLeftBtn {
  margin-left: 0;
  height: 30px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li .userTypeName {
  color: #8d8d8d;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li .userInpHover:hover {
	border:1px solid #ddd;
	margin: 0;
	padding: 0;
	outline:none;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li .userInp {
  color: #333;
  border: 0;
  font-size: 14px;
  background-color: #f7fafa;
  font-family: 'microsoft yahei';
  font-weight: bold;
	width:200px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li .tip{
  display: none;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li .tip.show{
  position: absolute;
  z-index: 99;
  margin: 0;
  width:200px;
  height:20px;
  background:#fff;
  border:1px solid #f90;
  color:red;
  font-size:11px;
  line-height:20px;
  padding-left: 5px;
  display: block;
  cursor:pointer;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li .userInp.warm{
	border:1px solid red;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li .remark {
  background-color: #f7fafa;
  height: 106px;
  font-size: 14px;
  resize: none;
  margin-left: 0;
  border: 1px solid #ccc;
  width:90%;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li span {
  /*color: #f90;*/
  /*margin-left: 10px;*/
  /*display: none;*/
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-home-yy {
  height: 100%;
  padding: 40px 0 40px 0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-home-yy .rightQuick .rightQuickLeft {
  min-width: 94px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-home-yy .rightQuick .rightQuickLeft li {
  /*border-left: 2px solid #fff;*/
  color: #555556;
  font-size: 14px;
  font-weight: bold;
	padding-left: 5px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-home-yy .rightQuick .rightQuickLeft li:hover {
  background-color: #eff4f5;
  color: #555556;
  border-left: 2px solid #09aeb0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-home-yy .rightQuick .rightQuickLeft .active {
  background-color: #eef6f4;
  color: #555556;
  border-left: 2px solid #09aeb0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-home-yy .rightQuick .rightQuickRight {
  min-width: 189px;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-home-yy .rightQuick .rightQuickRight li .quickClick {
  color: #555556;
  font-size: 14px;
  border: 0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-home-yy .rightQuick .rightQuickRight li .quickClick:hover {
  background-color: #eef6f4;
  font-size: 14px;
  color: #555556;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content #messagesuser .quickBtnP #shortcut {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  height: 40px;
  line-height: 40px;
  color: #09aeb0;
  font-size: 16px;
  border-top: 1px solid #e5eeec;
  position: absolute;
  left: 0;
  bottom: 0;
  /*background-color: #fff;*/
  border-left: 1px solid #e5eeec;
  z-index: 0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content #messagesuser .quickBtnP #shortcut:hover {
  color: #09aeb0;
  background-color: #f5f9fa;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content #homeuser .homeUserBox {
  padding: 0;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content #homeuser #quickSerch {
  border-radius: 0;
  width: 100%;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content #homeuser #quickSerch:focus {
  width: 100%;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content #homeuser #quickSerchBtn {
  display: none;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist #hchat {
  background-color: #f5f9fa;
}
/*dialog*/
.dialogBox {
  display: none;
}
.bootbox .modal-dialog .modal-content {
  border-radius: 1px;
}
.bootbox .modal-dialog .modal-header {
  height: 54px;
  border-bottom: 1px solid #38bfbe;
  background-color: #f4fdfb;
  padding: 18px 30px;
}
.bootbox .modal-dialog .modal-header .modal-title {
  line-height: 16px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "microsoft yahei";

}
.bootbox .modal-dialog .modal-header .bootbox-close-button {
  margin: 0;
  line-height: 18px;
  color: #09b1af;
  opacity: 1;
}
.bootbox .modal-dialog .modal-body {
  padding: 0;
  text-align: center;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox {
  padding: 52px 54px;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .waitClass .th2 {
  width: 30%;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .reqMenuBox .fl {
  float: left;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .reqMenuBox .fl .ls-light-green-btn {
  background-color: #fff;
  width: 128px;
  height: 34px;
  border: 1px solid #09aeb0;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color: #09aeb0;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  outline: none;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .reqMenuBox .fl .ls-red-btn {
  background-color: #09aeb0;
  width: 128px;
  height: 34px;
  border: 1px solid #09aeb0;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: normal;
  margin-right: 20px;
  outline: none;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .reqMenuBox .fr {
  float: right;
  margin-top: 10px;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .reqMenuBox .fr .reaRefBtn {
  padding-left: 20px;
  width: 50px;
  height: 20px;
  display: inline-block;
  background: url(../img/reqRefNow.png) no-repeat;
  vertical-align: middle;
  line-height: 20px;
  font-size: 14px;
  color: #09b1af;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh {
  border-top: 1px solid #ccc;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh tr th {
  font-size: 14px;
  font-weight: normal;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh tr .th2 {
  width: 20%;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh tr .th21 {
  width: 20%;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh tr .th3 {
  width: 30%;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh tr .th4 {
  width: 20%;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh tr .th5 {
  width: 20%;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh tr .th51 {
  width: 20%;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqTableTh tr .th6 {
  width: 10%;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqDomBox {
  text-align: left;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqDomBox .reqBtns {
  color: #09aeb0;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqBottom .reqGoNumber {
  color: #09aeb0;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqBottom .reaNextBtn {
  color: #09aeb0;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.bootbox .modal-dialog .modal-body .bootbox-body .reqTableBox .table .reqBottom .reaPrevBtn {
  color: #09aeb0;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.bootbox .modal-dialog .modal-body .bootbox-body .listBox {
  padding: 52px 54px;
}
.bootbox .modal-dialog .modal-body .bootbox-body .listBox .list-group table thead tr {
  border-bottom: 1px solid #ccc;
}
.bootbox .modal-dialog .modal-body .bootbox-body .listBox .list-group table thead tr th {
  border: 0;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  padding: 0;
}
.bootbox .modal-dialog .modal-body .bootbox-body .listBox .list-group table tbody tr {
  border-bottom: 1px solid #ccc;
}
.bootbox .modal-dialog .modal-body .bootbox-body .listBox .list-group table tbody tr td {
  border: 0;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  padding: 0;
}
.bootbox .modal-dialog .modal-body .bootbox-body .listBox .list-group table tbody tr .glyphicon-ok-sign {
  color: #65ef71;
}
.bootbox .modal-dialog .modal-body .bootbox-body .listBox .list-group table tbody tr .glyphicon-minus-sign {
  color: #ed5c5c;
}
.bootbox .modal-dialog .modal-body .bootbox-body .listBox .list-group table tbody tr .redClass {
  color: #ed5c5c;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickLeft {
  height: 300px;
  text-align: left;
  border-right: 1px solid #ccc;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickLeft .quickList {
  border-left: 2px solid #fff;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickLeft .quickList:hover {
  background-color: #eef6f4;
  border-left: 2px solid #09aeb0;
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickLeft .quickList:hover input {
  background-color: #eef6f4;
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickLeft .quickList:hover a {
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickLeft .quickActive {
  background-color: #eef6f4;
  border-left: 2px solid #09aeb0;
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickLeft .quickActive a {
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickLeft .quickActive input {
  background-color: #eef6f4;
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight {
  height: 300px;
  text-align: left;
  padding: 0;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight .reply .replyList .quickList {
  border-top: 0;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight .reply .replyList .quickList a {
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight .reply .replyList .quickList:hover {
  background-color: #eef6f4;
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight .reply .replyList .quickList:hover input {
  background-color: #eef6f4;
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight .reply .replyList .quickList:hover a {
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight .reply .replyList .quickActive {
  background-color: #eef6f4;
  border-left: 2px solid #09aeb0;
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight .reply .replyList .quickActive a {
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .quickBox .quickRight .reply .replyList .quickActive input {
  background-color: #eef6f4;
  color: #000;
}
.bootbox .modal-dialog .modal-body .bootbox-body .offDyy {
  padding: 50px 30px;
  text-align: center;
  font-size: 16px;
}
.bootbox .modal-dialog .modal-footer {
  text-align: center;
  border: 0;
  padding: 0;
  margin-top:20px;
  margin-bottom: 30px;
}
.bootbox .modal-dialog .modal-footer .btn-danger {
  background-color: #fff;
  width: 120px;
  height: 40px;
  border: 1px solid #09aeb0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #09aeb0;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  outline: none;
}
.bootbox .modal-dialog .modal-footer .btn-success {
  background-color: #09aeb0;
  width: 120px;
  height: 40px;
  border: 1px solid #09aeb0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: normal;
  outline: none;
}

#historylist.noperson{
  background: url("../assets/images/noHistoryPerson.png") no-repeat;
  background-position:center 27.5%;
}
#historylist.noBlock{
  background: url("../assets/images/noBlockList.png") no-repeat;
  background-position:center 27.5%;
}
#historylist.noStar{
  background: url("../assets/images/noStarList.png") no-repeat;
  background-position:center 27.5%;
}
.noOnline{
  background: url("../assets/images/noOnlinePerson.png") no-repeat;
  background-color:#F7FAFA;
  background-position:center 34%;
}
.chatCont{
  background: url("../assets/images/noSession.png") no-repeat;
  background-position:33% 47.5%;
  height:100%;
}
#clientSystems a:link {color: #a4b2b3} /* 未访问的链接 */
#clientSystems a:visited {color: #a4b2b3} /* 已访问的链接 */
#clientSystems a:hover {color: #a4b2b3} /* 鼠标移动到链接上 */
#clientSystems a:active {color: #a4b2b3} /* 选定的链接 */

#profileuser i.pcicon{
  width:14px;
  height: 14px;
  background: url("../assets/images/comptuer.png") no-repeat;
  background-position: center center;
  display: inline-block;
}
#profileuser i.mobileicon{
	width:14px;
  height: 14px;
  background: url("../assets/images/mobile.png") no-repeat;
  background-position: center center;
	display: inline-block;
}
#profileuser i.closeicon::before{
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform: rotate(45deg);
}
#profileuser i.closeicon::after{
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  transform: rotate(-45deg);
}
#profileuser i.closeicon::before,#profileuser i.closeicon::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 10px;
  top:50%;
  left:183px;
  background-color: red;
}
#profileuser select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/

  width:70px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#profileuser select::-ms-expand { display: none; }

/*备注*/
.userTypeName.remarkTip{
  float: left;
  width:50px;
}
.remarkTxt{
  float: left;
  width: 79%;
}
#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li input.userInp.over{
  border:1px solid #ccc;
}
.fa.operateUrl img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 0;
  position: absolute;
  left: 20px;
  font-size: 20px;
}

#historyusers .fa.operateUrl img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: grayscale(100%);

  filter: gray;
}

#main-container #min-wrapper #main-content .container-fluid #chatlist .right .rightBox .panel-body .tab-content .tab-pane ul li .otherBorder:focus {
  border-color:#66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
